<html>
    <head>
        <link rel="stylesheet" href="../../public/stylesheets/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    </head>
    <body class="container_success">
        <div class="logged_in_nav">
            <div class="flex">
                <div>
                    <img src="../../public/images/workos-logo-with-text.png" alt="workos logo">
                </div>
            </div>
            <div>
                <a href="https://workos.com/docs" target="_blank"><button class='button nav-item'>Documentation</button></a>
                <a href="https://workos.com/docs/reference" target="_blank"><button class='button nav-item'>API
                        Reference</button></a>
                <a href="https://workos.com/blog" target="_blank"><button
                        class='button nav-item blog-nav-button'>Blog</button></a>
                <a href="https://workos.com/" target="_blank"><button class='button button-outline'>WorkOS</button></a>
            </div>
        </div>
        <div class='flex'>
            <div class="logged_in_div_left">
                <div class="title-text">
                    <h1>Your app,</h1>
                    <h2 class="home-hero-gradient">Enterprise Ready</h2>
                </div>
                <div class="title-subtext">
                    <p>Start selling to enterprise customers with just a few lines of code.</p>
                    <p>Implement features like single sign-on in minutes instead of months.</p>
                </div>
                <div class="flex success-buttons">
                    <a href="https://workos.com/signup" target="_blank"><button class='button'>Get Started</button></a>
                    <a href="mailto:sales@workos.com?subject=WorkOS Sales Inquiry" target="_blank"><button
                            class='button button-outline sales-button'>Contact
                            Sales</button></a>
                </div>
            </div>
            <div class="logged_in_div_right">
                <div class="flex_column">
                    <p>⚡️ Groups for <%=directory.name%> ⚡️
                    </p>
                    </h2>
                    <div class="text_box">
                        <%if (groups.length) {%>
                            <ul>
                                <% for(let i=0; i<groups.length; i++) {%>
                                    <%if(i % 2==0){%>
                                        <a href="/directory/<%=directory.id%>/group/<%=groups[i].id%>">
                                            <li class="even">
                                                <%= groups[i].name %>
                                            </li>
                                        </a>
                                        <%} else {%>
                                            <a href="/directory/<%=directory.id%>/group/<%=groups[i].id%>">
                                                <li>
                                                    <%= groups[i].name %>
                                                </li>
                                            </a>
                                            <%}%>
                                                <% } %>
                            </ul>
                            <%} else { %>
                                <code>No Groups Found</code>
                                <%}%>
                    </div>
                    <p>⚡️ Users for <%=directory.name%> ⚡️
                    </p>
                    <div class="text_box">
                        <%if (users.length) {%>
                            <ul>
                                <% for(let i=0; i<users.length; i++) {%>
                                    <%if (i % 2==0) {%>
                                        <a href="/directory/<%=directory.id%>/user/<%=users[i].id%>">
                                            <li class="even">
                                                <%=users[i].first_name%>
                                                    <%=users[i].last_name%>, <%=users[i].username%>
                                            </li>
                                        </a>
                                        <%}else{%>
                                            <a href="/directory/<%=directory.id%>/user/<%=users[i].id%>">
                                                <li>
                                                    <%=users[i].first_name%>
                                                        <%=users[i].last_name%>, <%=users[i].username%>
                                                </li>
                                            </a>
                                            <%}%>
                                                <% } %>
                            </ul>
                            <%} else { %>
                                <code>No Users Found</code>
                                <%}%>
                    </div>
                    <a href="javascript:history.back()"><button class='groups_button button button-sm'>Back</button></a>
                </div>
            </div>
        </div>
    </body>
</html>